* {
  padding: 0;
  margin: 0;
}
#main {
  position: absolute;
  background: #EFEFBB;
  background: -webkit-linear-gradient(to top, #D4D3DD, #EFEFBB);
  background: linear-gradient(to top, #D4D3DD, #EFEFBB);
  justify-content: center;
  display: flex;
  width: 100%;
  height: 100vh;
}
#main-gallery {
  display: flex;
  position: absolute;
  top: 16%;
  justify-content: center;
  width: 1000px;
  height: 350px;
  box-shadow: 3px 5px 8px #6b6b6b;
}
.btn {
  background: #ffffff;
  background: -moz-linear-gradient(top, #ffffff 0%, #e0e0e0 49%, #d3d3d3 100%);
  background: -webkit-linear-gradient(top, #ffffff 0%, #e0e0e0 49%, #d3d3d3 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #e0e0e0 49%, #d3d3d3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d3d3d3', GradientType=0);
  border-radius: 3px;
  padding: 10px;
  cursor: pointer;
  border: #6b6b6b;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  box-shadow: 1px  #6b6b6b;
}
.btn .arrow {
  opacity: 1;
}
.btn:hover .arrow {
  opacity: 0.3;
}
#right {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}
#big-pic {
  background-color: #6b6b6b;
  justify-content: center;
  align-content: center;
  align-items: center;
  display: flex;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
#selected {
  align-items: baseline;
  align-self: center;
  display: flex; 
  width: 100%;
  height: auto;
  margin: 0 auto;
  background-size: cover;
  align-items: flex-end;
  border-radius: 8px;
}
#sub-gallery {
  display: flex;
  flex-wrap: wrap;
  height: 50px;
  background-color: #ffffff;
}
.thumbnail {
  width: 100px;
  height: 50px;
}
.thumbnail:hover {
  opacity: 0.7;
}
